/**
 * ARQUIVO SCSS PRINCIPAL
 * Este arquivo importa todas as partes do tema.
 */
.flexRow--main-header {
  background-image: url("https://theminiforest.vtexassets.com/assets/vtex.file-manager-graphql/images/97afb782-b062-4194-a7ff-cdc68d5127f1___19efda4e55a10505cb51a2e980b0ba78.png");
  background-size: 730px auto;
  background-repeat: no-repeat;
  background-position: center 11px;
}
.flexRow--main-header .flexRowContent--main-header {
  max-width: 1220px;
  margin: 24px auto 0 auto;
  background-color: transparent;
}

.flexRowContent--category-menu__container {
  max-width: 1220px;
  margin: 0 auto;
}

.flexRow--submenu-produtos {
  width: 100%;
}

.flexRowContent--submenu-produtos .stretchChildrenWidth {
  max-height: 295px;
}
.flexRowContent--submenu-produtos .stretchChildrenWidth .flexCol {
  padding-left: 1.5rem;
  border-right: 1px solid #f1dfd5;
  gap: 1rem;
}

.flexCol--coluna-primeiros-meses {
  border-right: none !important;
}

.flexCol--coluna-por-idade {
  flex-wrap: nowrap;
  flex-direction: column;
}

.flexRowContent--por-idade-itens {
  max-height: 240px;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.flexRowContent--por-idade-itens .stretchChildrenWidth {
  width: 40% !important;
}

.flexCol--submenu-coluna {
  gap: 1rem;
}

.container {
  height: fit-content !important;
}

.buttonLink {
  padding: 0 !important;
}

.profile {
  padding: 0;
}

.vtex-button__label {
  padding: 0 !important;
}

.label {
  text-transform: capitalize;
  color: #71817f;
  font-size: 12px;
}

.menuContainer--header-category-menu {
  justify-content: space-between;
  margin-top: 1.3rem;
}
.menuContainer--header-category-menu .styledLinkContainer {
  margin: 0;
  padding: 0;
}
.menuContainer--header-category-menu .styledLinkContainer .styledLink--header-menu-item {
  color: #71817f;
  display: block;
  letter-spacing: 5px;
  line-height: 12px;
  padding: 11px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
}
.menuContainer--header-category-menu .styledLinkContainer .styledLink--header-menu-item:hover {
  color: #c76b6b;
}

.menuItem--menu-produtos {
  position: static !important;
}

.menuContainerNav--header-category-menu {
  position: relative;
}

.submenuContainer--submenu-produtos {
  position: static !important;
}

.submenuWrapper--submenu-produtos--isOpen {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 30px 0 13px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #fffcf6;
  border-top: 10px solid #f1dfd5;
  height: 350px;
}

.submenu--submenu-produtos {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.styledLinkContent--menu-item-small {
  font-size: 12px !important;
  transition: 0.2s all ease-in-out;
  flex-wrap: wrap;
}

.styledLinkContent--menu-item-small:hover {
  text-decoration: underline;
}

.submenuWrapper--submenu-casa-e-decor--isOpen,
.submenuWrapper--submenu-higiene--isOpen {
  width: 100%;
  padding: 1.2rem 1rem;
  border-top: 10px solid #f1dfd5;
  border-bottom: none;
}

@media (min-width: 1025px) {
  .openIconContainer {
    position: relative;
    width: auto !important;
    height: auto !important;
    padding: 12px 0 12px 24px;
  }
  .openIconContainer::before {
    content: "Minha Sacola";
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: #71817f;
  }
  .openIconContainer .cartIcon {
    display: none !important;
  }
}
.paragraph--submenu-titulo {
  margin: 0;
  font-size: 12px;
  line-height: 23px;
  padding: 5px 0;
}

.paragraph--meus-favoritos-link {
  margin: 0;
  padding-top: 10px;
  line-height: 1;
  font-weight: 500;
}
.paragraph--meus-favoritos-link .link--meus-favoritos-link {
  color: #71817f;
  text-decoration: none;
  font-size: 12px;
}

:global(.vtex-login-2-x-container) {
  width: fit-content !important;
}

/* Remove borda do grupo de input da search bar */
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid #d4d7cd;
  border-radius: 0;
  height: 28px;
  font-size: 1.1rem;
  color: #949c97;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) .input {
  padding-left: 0.4rem;
  font-size: 12px;
}
:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
  padding: 0;
}

.searchBarContainer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:global(.vtex-styleguide-9-x-input) {
  font-size: 11px;
}

:global(.vtex-styleguide-9-x-input)::placeholder {
  font-size: 11px;
  color: #949c97;
  line-height: 28px;
}

:global(.vtex-store-components-3-x-searchBarIcon) {
  background: transparent;
  border: none;
  padding: 0;
  width: 20px;
  color: transparent;
  font-size: 0;
  overflow: hidden;
  position: relative;
}

:global(.vtex-store-components-3-x-searchBarIcon--search)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgNDc3IDQ3NyI+CiAgPHBhdGggZmlsbD0iI2M3NmI2YiIgZD0iTTQ3OC4zMDgsNDIzLjkzOEwzNzQuNjg2LDMyMC4zMThjLTAuNTUxLS41NTEtMS4yLTAuOTM1LTEuNzcyLTEuNDQ4QTE5NS4xMzcsMTk1LjEzNywwLDAsMCw0MDUuMiwyMTEuMUM0MDUuMiwxMDIuOCwzMTcuNCwxNSwyMDkuMSwxNVMxMywxMDIuOCwxMywyMTEuMXM4Ny44LDE5Ni4xLDE5Ni4xLDE5Ni4xYTE5NS4xMzEsMTk1LjEzMSwwLDAsMCwxMDcuNzY2LTMyLjI4OWMwLjUxMywwLjU3NC45LDEuMjIsMS40NDcsMS43N0w0MjEuOTM2LDQ4MC4zMDhBMzkuODYsMzkuODYsMCwwLDAsNDc4LjMwOCw0MjMuOTM4Wk0yMDkuMSwzMzkuMjIxQTEyOC4xMiwxMjguMTIsMCwxLDEsMzM3LjIyMSwyMTEuMSwxMjguMTIsMTI4LjEyLDAsMCwxLDIwOS4xLDMzOS4yMjFaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMgLTE1KSI+PC9wYXRoPgo8L3N2Zz4=");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 14px;
  height: 14px;
}

:global(.vtex-login-2-x-container) {
  height: fit-content !important;
}

.flexRowContent--sobre {
  max-width: 1260px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .flexRowContent--sobre {
    display: flex;
    flex-direction: column-reverse;
  }
}

.flexColChild--sobre__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCol--sobre__container {
  margin: 0 124px 0 124px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .flexCol--sobre__container {
    margin: 10px;
  }
}

.flexColChild--colImagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .flexColChild--colImagem {
    padding: 12px;
  }
}

.imageContainer {
  position: relative;
}

.image {
  border-radius: 0 !important;
  max-height: 100% !important;
}

.hoverImage {
  display: block !important;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  object-fit: contain;
}

.mainImageHovered {
  opacity: 1;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1;
}

.imageContainer:hover .hoverImage {
  opacity: 1;
}

.imageContainer:hover .mainImageHovered {
  opacity: 0;
}

.element--home-shelf .nameContainer {
  padding-top: 0.875rem;
  padding-bottom: 0;
}
.element--home-shelf .nameContainer .nameWrapper .brandName {
  color: #7a7475;
  font-size: 11px;
  font-weight: 600;
  height: 26px;
  letter-spacing: 1px;
  line-height: 13px;
  overflow: hidden;
  margin: 14px 0 7px;
  text-transform: uppercase;
  white-space: wrap;
  text-overflow: ellipsis;
}

.heading--shelfTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  margin-top: 3rem;
}

.headingLevel3--sobre__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.paragraph--sobre__text {
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 1.1rem;
  text-transform: uppercase;
  text-align: justify;
}

.sliderLayoutContainer--home-shelf {
  max-width: 1260px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sliderTrack--home-shelf {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.slide--home-shelf {
  width: 100% !important;
}

@media screen and (max-width: 1024px) {
  .sliderTrack--home-shelf {
    grid-template-columns: repeat(2, 1fr);
  }
}
.imageElement--sobre__banner {
  max-width: 496px;
}
@media (max-width: 1024px) {
  .imageElement--sobre__banner {
    width: 100%;
  }
}

.label--sobre__button {
  font-size: 12px;
  line-height: 44px;
  letter-spacing: 1px;
  padding: 0 20px;
  font-weight: 600;
}

.link--sobre__button {
  text-decoration: none;
  border: 1px solid #d7d7d7;
  width: 180px;
  text-align: center;
  color: #7a7475;
  transition: all ease-in-out 0.2s;
}

.link--sobre__button:hover {
  background: #7a7475;
  color: #fff;
}

.flexColChild--footer-title__container {
  height: auto !important;
  margin-bottom: 0.8rem;
}

.flexRow--credits {
  background-color: white;
}

.flexRowContent--newsletter-container {
  border-bottom: 1px solid #d5d7cd;
}

.styledLinkContainer {
  margin: 0 !important;
  width: fit-content;
}

.menuItem {
  width: fit-content;
}

.paragraph--newslatter-label {
  display: inline-block;
  font-size: 16px;
  height: 36px;
  letter-spacing: 3px;
  line-height: 18px;
  margin: 0 10px 0 0;
  text-align: justify;
  text-transform: uppercase;
  vertical-align: middle;
  color: #71817f;
}

.strong--newslatter-label {
  display: inline-block;
  font-size: 23px;
  height: 36px;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 10px 0 0;
  text-align: justify;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;
  color: #71817f;
}

.paragraph--footer-title {
  margin: 0;
}

.paragraph--footer {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  padding: 17px 10px;
  text-align: center;
  text-decoration: none;
}
.paragraph--footer .link--footer {
  text-decoration: none;
  color: #7b7b7b;
}

.newsletter {
  display: flex;
}
.newsletter .container .form {
  display: flex;
  flex-direction: row;
}

.inputGroup--newsletter {
  padding: 0;
}

.newsletter .container {
  padding: 35px 10px 25px 10px;
}

.footerLayout {
  background-color: #f0efe9;
}

:global(.vtex-store-footer-2-x-footerLayout) :global(.vtex-flex-layout-0-x-flexRow) :global(.vtex-store-components-3-x-container) {
  max-width: 1260px;
}

:global(.vtex-store-components-3-x-inputGroup) .vtex-buton {
  background-color: #6c9893;
}

.inputGroup--newsletter :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: #d5d7cd;
  color: #7a7475;
  min-width: 310px;
  border-radius: 0;
}

.inputGroup--newsletter :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
}

.inputGroup :global(.vtex-button) {
  background-color: #6c9893;
  color: #fff;
  border: none;
  border-radius: 0;
  transition: 0.2s all ease-in-out;
  font-size: 11px;
}
.inputGroup :global(.vtex-button):hover {
  background-color: #5c817d;
}

.footerLayout {
  background-color: #f0efe9;
  margin-top: 1.25rem;
}

.socialNetworksContainer {
  align-self: center !important;
  justify-self: end;
}

.socialNetworkWrapper {
  display: flex;
  justify-content: flex-end;
}
