@import "../utils/variables";
@import "../utils/mixins";

.footerLayout {
  background-color: #f0efe9;
  margin-top: 1.25rem;
}

.socialNetworksContainer {
  align-self: center !important;
  justify-self: end;
}

.socialNetworkWrapper {
  display: flex;
  justify-content: flex-end;
}
