.wishlistIconContainer--wishlist-button {
  position: absolute;
  z-index: 3;
  right: 0 !important;
}

:global(.vtex-wish-list-1-x-wishlistIconContainer--wishlist-button) {
  right: 15px;
  top: 10px;
}
