.heading--shelfTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  margin-top: 3rem;
}

.headingLevel3--sobre__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.paragraph--sobre__text {
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 1.1rem;
  text-transform: uppercase;
  text-align: justify;
}
@media (max-width: 640px) {
  .paragraph--sobre__text {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: none;
  }
}
