.flexColChild--footer-title__container {
  height: auto !important;
  margin-bottom: 0.8rem;
}

.flexRow--credits {
  background-color: white;
}

.flexRowContent--newsletter-container {
  border-bottom: 1px solid #d5d7cd;
}
