/* Container principal do nosso componente */
.container {
  padding: 1rem 0;
}

.carouselTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

/* --- Estilos para o Carrossel de Navegação (Categorias/Cores) --- */
.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #3f3f40;
  gap: 0.5rem; /* Espaço entre a imagem e o nome */
  padding: 0.5rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.navItem:hover {
  background-color: #f5f5f5;
}

.navImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* --- Estilos para o Carrossel de Tamanho --- */
.sizeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: #efefef;
  color: #585959;
  transition: all 0.2s ease;
  height: 30px;
  margin: 0 5px;
  white-space: nowrap;
}

.sizeItem:hover {
  border-color: #8f8f8f;
}

.sizeItemSelected {
  border-color: #a7a8a9;
  background-color: #e0e1e1;
  color: #000;
  font-weight: 500;
}
