/* react/components/sitemap.css */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
    margin-bottom: 2rem;
}

.mapaDoSite {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.mapaDoSite ul {
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

.mapaDoSite a {
  text-decoration: none;
  color: #333;
}

.mapaDoSite a:hover {
    text-decoration: underline;
}

.mapaDoSite li a {
  font-size: 1rem;
}

.mapaDoSite .subtitulo {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.roupinhas {
  grid-row: 1 / span 4;
}

@media (max-width: 1024px) {
  .roupinhas {
    grid-row: 1 / span 6;
  }
}

@media (max-width: 800px) {
  .roupinhas {
    grid-row: 1 / span 8;
  }
}