.sitemap__container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.sitemap__title {
  margin-bottom: 2rem;
  font-size: 2.5rem; /* Example: adjust as needed */
  color: #333; /* Example: adjust as needed */
}

.sitemap__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: masonry;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.sitemap__ul {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
}

.sitemap__link {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: text-decoration 0.2s ease-in-out; /* Smooth transition for hover */
}

.sitemap__link:hover {
  text-decoration: underline;
}

.sitemap__subtitulo {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

/* Media Queries */
@media (max-width: 1024px) {
  .roupinhas {
    grid-row: 1 / span 6;
  }
}

@media (max-width: 800px) {
  .roupinhas {
    grid-row: 1 / span 8;
  }
}
