@import "../utils/variables";
@import "../utils/mixins";

.backdropContainer--search-bar {
  opacity: 0 !important;
}

.container--search-bar {
  height: auto;
}

.paper--search-bar {
  margin: 0;
  width: 100%;
}

.triggerContainer--search-bar {
  width: auto;
}
