@media (min-width: 1025px) {
  .openIconContainer {
    position: relative;
    width: auto !important;
    height: auto !important;
    padding: 0;
  }
  .openIconContainer :global(.vtex-button) {
    display: none;
  }
  .openIconContainer::before {
    content: "Minha Sacola";
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    display: block;
    color: #71817f;
  }
  .openIconContainer .cartIcon {
    display: none !important;
  }
}
@media (max-width: 640px) {
  .openIconContainer {
    padding: 0;
  }
  .cartIcon {
    height: 33px;
    width: 33px;
  }
  .minicartQuantityBadgeDefault {
    top: 50%;
    right: 58%;
    transform: translate(50%, -50%);
    background: none;
  }
}
