.heading--shelfTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  margin-top: 3rem;
}

// Seção "Sobre a The Mini Forest"
.paragraph--sobre__text {
  font-size: 11px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
  margin-bottom: 1.1rem;
  text-transform: uppercase;
  text-align: justify;
}
